* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: auto;
  margin: 0 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5);

  /* grid-template-columns: 510px 600px;
  grid-template-rows: 320px 140px 120px; */

  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */

  /* grid-template-areas:
    "header header"
    "left1 right1"
    "left2 right2"
    "left3 right3"
    "footer footer"; */
}

.header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  grid-area: "header";
}

.left1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  margin: 1rem 0;
  /* grid-area: "left1"; */
}

.right1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin: 1rem 0 0 1rem;
  /* grid-area: "right1"; */
}

.left2 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  /* grid-area: "left2"; */
}

.right2 {
  border: solid 1px rgb(212, 207, 207);
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  /* grid-area: "right2"; */
}

.right2_left {
  margin-left: 0.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

.right2_left,
.right2_right {
  color: rgb(107, 105, 105);
}

.btn_read {
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  border: solid 3px #57b8d1;
  border-radius: 0.5rem;
  box-shadow: rgb(100, 99, 99) 3px 3px 20px 0px;
}

.btn_read a {
  text-decoration: none;
  color: black;
}

.row3 {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  /* grid-area: "left3"; */
}

footer {
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
  /* grid-area: "footer"; */
}

.row3 {
  display: flex;
  margin: 2rem 0;
}

.left3 {
  display: flex;
  align-items: center;
}

.right3 {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: solid red;
  margin-left: 35rem;
}

h2 {
  border-bottom: solid 2px gray;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.header {
  border-bottom: solid 2px #b1b2c6;
  display: flex;
  padding: 1.5rem 0;
  align-items: center;
  justify-content: space-between;
}

.header_left a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}

.btn_log {
  width: 8rem;
  box-shadow: rgb(44, 43, 43) 2px 2px 5px 2px;
  background-color: #76aa20;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

.btn_log a {
  text-decoration: none;
  color: white;
}

.work {
  margin: 0 0.5rem;
}

.pic_big {
  width: 100%;
  height: 30rem;
  /* margin: 1rem 1rem 1rem 0; */
}

h1 {
  color: #57b8d1;
  font-size: 4rem;
  /* margin-top: 1rem; */
}

.right1 p {
  font-size: 1.5rem;
  margin: 1em 0;
}

.left2 {
  display: flex;
  flex-direction: column;
  background-color: #ead2d7;
  border-top: solid 2px #d29dc2;
  padding: 2rem 1rem;
}

.left2 a {
  font-size: 0.8rem;
  margin: 0.5em 0;
}

h3 {
  font-size: 1rem;
  color: gray;
}

.pic_small {
  width: 10rem;
  height: 10rem;
  margin-right: 0.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: #808080;
  font-size: 1rem;
  color: white;
}

footer p {
  margin: 0.5em;
}
